#module3Container {
  background-color: #1d1d1d;
  width: 100%;
  height: 459px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#module3Content {
  width: 1600px;
  height: 380px;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#module3Content1 {
  height: 100%;
  width: 400px;
}
#logo2 {
  width: 209px;
  height: 104px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 95%;
}
#module3Content1Div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  user-select: none;
}
#logo3 {
  width: 38px;
  height: 38px;
  object-fit: cover;
  margin-right: 10px;
}
#module3ContentDivText {
  color: white;
  font-weight: 700;
}
.unBold {
  font-weight: 300;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
#addy {
  color: white;
  margin-top: 20px;
  line-height: 2em;
  cursor: pointer;
  width: 175px;
}
#module3Content2 {
  height: 100%;
  width: 150px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#module3Content2 p {
  color: white;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  user-select: none;
}
#module3Content3 {
  height: 100%;
  width: 250px;

  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-weight: 700;
}
#number {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
#email {
  width: 100%;
  height: 55px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#social {
  width: 100%;
  height: 75px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  user-select: none;
}
#socialIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socially {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  cursor: pointer;
}
.noSelect {
  user-select: none;
}
@media (min-width: 1030px) {
  #module3Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #module3Content {
    width: 100%;
  }
  
  #module3Images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  
  .module3ImageContainer {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }  
  #module3Images {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }

  .module3ImageContainer {
    width: 30%;
  }
    #module3Images {
      flex-direction: row;
      justify-content: space-between;
    }
  
  }

