#module1Container {
  background-color: grey;
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  position: relative; /* Ensure relative positioning */
}

#module1Content {
  width: 1300px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  margin-top: 70px;
}

#typed-text {
  font-size: 5rem;
  font-weight: 700;
  width: 1500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
  z-index: 10;
}

#module1Text {
  color: rgb(197, 197, 197);
  user-select: none;
  z-index: 10;
  opacity: 80%;
  text-align: center;
  line-height: 1.875em;
  letter-spacing: 0.02em;
  font-weight: 500;
}

#module1Button {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #f92f47;
  color: white;
  user-select: none;
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
}

#module1Background {
  width: 100%;
  height: 1080px;
  object-fit: cover;
  filter: brightness(40%) saturate(60%);
  position: absolute;
  z-index: 1;
  user-select: none;
}

#gradientOverlay {
  position: absolute;
  bottom: 250px; /* Move the gradient up by 150px */
  width: 100%;
  height: 350px; /* Increase the height to ensure it still covers the bottom part */
  background: linear-gradient(to bottom, transparent, #212F2F);
  z-index: 2; /* Positioned above the background image but below the content */
}
