#module1Container {
  background-color: grey;
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
  position: relative; /* Ensure relative positioning */
}

#module1Content {
  width: 1300px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  margin-top: 70px;
}

#typed-text {
  font-size: 5rem;
  font-weight: 700;
  width: 1500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
  z-index: 10;
}

#module1Text {
  color: rgb(197, 197, 197);
  user-select: none;
  z-index: 10;
  opacity: 80%;
  text-align: center;
  line-height: 1.875em;
  letter-spacing: 0.02em;
  font-weight: 500;
}

#module1Button {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #f92f47;
  color: white;
  user-select: none;
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
}

#module1Background {
  width: 100%;
  height: 1080px;
  object-fit: cover;
  filter: brightness(40%) saturate(60%);
  position: absolute;
  z-index: 1;
  user-select: none;
}

#gradientOverlay {
  position: absolute;
  bottom: 250px; /* Move the gradient up by 150px */
  width: 100%;
  height: 350px; /* Increase the height to ensure it still covers the bottom part */
  background: linear-gradient(to bottom, transparent, #212F2F);
  z-index: 2; /* Positioned above the background image but below the content */
}
@media (max-width:  1030px) {
  #module1container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  #module1Content {
    max-width: 100%;
    text-align: center;
  }
  
  #typed-text, #module1Text, #module1Button {
    max-width: 100%;
  }
  
  #module1Background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #gradientOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    #typed-text {
      font-size: 2rem;
    }
  
    #module1Text {
      font-size: 1rem;
    }
  
    #module1Button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  #typed-text {
    font-size: 2em;
  }
  #module1Text{
    font-size: 1rem;
  }
  #module1Button {
    font-size: 1rem;
    padding: 10px 20px
  }
}