#navbarContainer {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  transition: 0.3s;
  background-color: #212F2F;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 99;
}
#nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100px;
}
#nav3 {
  align-items: center;
  display: flex;
  justify-content: center;
}
#nav2 h5 {
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
#nav2 h5:hover {
  font-size: 1.75rem;
  font-weight: 600;
}
.scrolled-down {
  margin-top: -100px;
}
.lower {
  background-color: rgba(33, 47, 47, 96%);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#logo {
  width: 130px;
  height: 70px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 95%;
  transition: 0.3s;
  padding-left: 10px;
}
#logo:hover {
  transform: scale(1.1);
}
#navButton {
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #f92f46;
  color: white;
  cursor: pointer;
  user-select: none;
}
.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 950px) {

  .hamburger {
    display: block;
    background-color: #212F2F;
  }
  #nav2{
    display: none;
    flex-direction: column;
    width:100%;
    height: 500px;
    position: absolute;
    top: 100px;
    left:0;
    background-color: #212F2F;
    text-align: center;
    padding: 20px 0;
  } 
  #nav2.open {
    display: flex;
  }
  #nav2 h5{
    margin: 15px 0px;
  }
  
}