/* components/ScrollToTopButton.css */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .scroll-to-top-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 50px; /* Ensuring width and height are equal */
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  
  .scroll-to-top-button:hover {
    background-color: #555;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .scroll-to-top {
      bottom: 10px;
      right: 10px;
    }
  
    .scroll-to-top-button {
      width: 40px; /* Ensuring width and height are equal */
      height: 40px;
      font-size: 20px;
    }
  }
  